// Mobile 320-767//
.container {
  max-width: $container-max-width-mobile;
  margin: 0 auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;
  width: 100%;
}
// Tablet 768-1679//
@include tablet {
  .container {
    max-width: $container-max-width-tablet;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
  }
}

// Desktop 1680+//
@include desktop {
  .container {
    max-width: $container-max-width-desktop;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
  }
}
