// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

///=== Fonts ===///
// Regular font family
$text-font-stack: 'DM Sans', sans-serif;

// Accent font family
$accent-font-stack: 'Titan One', cursive;

///=== Colors ===///

///=== Miscellaneous ===///
// Media screen brakes
$tablet: 768px;
$desktop: 1680px;

// container's padding
$container-padding-mobile: 20px;
$container-padding-tablet: 40px;
$container-padding-desktop: 183px;

// Animation
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Container's maximum width
$container-max-width: 1680px;

//colors
$black :#111518;
$grey :#B9B9B9;
$orange:#FF6B09;

//Font
$mainFont: 'Montserrat';






