.button {
  width: 260px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: $mainFont;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.08em;
  cursor: pointer;
  border: 2px solid $bg-color1;
  text-transform: uppercase;

  &--transparent {
    color: $bg-color1;
    background-color: $bg-color3;
    transition: $transition;
    transition-property: background-color, color;
    &:hover {
      color: $bg-color3;
      background-color: $bg-color1;
    }
  }
  &--color {
    color: $bg-color3;
    background-color: $bg-color1;
    transition: $transition;
    transition-property: background-color, color;
    &:hover {
      color: $bg-color1;
      background-color: $bg-color3;
    }
  }
}

// Tablet 768-1680//
@include tablet {
  .button {
    width: 260px;
    height: 48px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
  }
}

// Desktop 1680+//
@include desktop {
  .button {
    width: 354px;
    height: 70px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
  }
}
